{% block paginator %}
<div class="paginator">
    {% if pagin.all.status == true %}
        <a class="active paginate" title="All recods" href="#">All</a>
        <select>
            {% for items in pagin.all.ipp %}
                <option value={{ items }}>{{ items }}</option>
            {% endfor %}
        </select>
        <label>per Page</label>
    {% elseif pagin.numPages > 10 %}
        {% if pagin.prev.status %}
            <a class="active paginate" href={{ pagin.prev.url }}?page={{ pagin.prev.page }}&ipp="{{ pagin.prev.ipp }}">Previous</a>
        {% else %}
            <span class="inactive" href="#">Previous</span>
        {% endif %}


        {% for key, value in pagin.pages %}
            {% if value.dots %}
                <span>...</span>
            {% else %}
                <a class="{{ value.class }}" title="Go to page {{ value.i }} of {{ value.title }}" href={{ value.url }}?page={{ value.i }}&ipp={{ value.ipp }}>{{ value.i }}</a>
            {% endif %}
        {% endfor %}

        {% if  pagin.next.status %}
            <a class="active paginate" href={{ pagin.next.url }}?page={{ pagin.next.page }}&ipp="{{ pagin.next.ipp }}">Next</a>
        {% else %}
            <span class="inactive" title="The last page is" href="#">Next</span>
        {% endif %}

        {% if  pagin.all.status %}
            <a class="current" href="#">All</a>
        {% else %}
            <select>
                {% for items in pagin.all.ipp %}
                    <option value={{ items }}>{{ items }}</option>
                {% endfor %}
            </select>
            <label>per Page</label>
         {% endif %}
    {% else %}
        {% for page in pagin.pages %}
                <a class="{{ page.class }}" title="Go to pages {{ page.i }} of {{ page.title }}" href={{ page.url }}?page={{ page.i }}&ipp={{ page.ipp }}>{{ page.i }}</a>
        {% endfor %}
            <a class="paginate" href={{ pagin.all.url }}?page=1&ipp=All">All</a>
    {% endif %}
</div>
{% endblock %}